body {
    background-color: #375e5e;
  }
  
  .header {
    background-color: #398988;
    height: 100px;
    
  }
  
  h1 {
    text-align: center;
    color: #073332;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .nav-bar {
    display: flex;
  }
  
  .nav-items {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    color: #073332;
    font-weight: bold;
  }