* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  /* background-image: url("./img/bg.png"); */
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.div__grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "historia historia historia historia"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: max-content; */
  gap: 1rem;
  justify-content: stretch;
  align-items: stretch;
}

.nav__span {
  padding: 2px;
}

a {
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  font-size: 1.2rem;
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 2px;
  /* padding: 50px 0 0 0; */
  grid-area: nav;
}

.navbar__ul {
  text-decoration: none;
  list-style: none;
  /* justify-content: center;
  align-items: center;
 */
}

.navbar__ul--link {
  transition-property: padding, border, background-color, border-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  padding: 10px 0;
  width: 20%;
}

.navbar__ul--link:hover {
  border-radius: 12%;
  width: 20%;
  height: auto;
  padding: 10px 0;
  opacity: 40%;
  z-index: 0;
}

.submenu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -40px;
  align-items: center;
}
.item__submenu {
  display: none;
  position: absolute;
  list-style: none;
  top: 32px;
  margin: 3px 0 0 5px;
}

.item__submenu a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #040d26;
  background-color: #fff;
  cursor: pointer;
  margin: 0px 0 0 5px;
  margin: -6px 0 0 5px;
  padding: 5px 0 0 0;
}

.navbar__ul--link .submenu {
  padding-left: 10px;
}

.item__submenu a:hover {
  background-color: #f2f2f2;
  border-radius: 8%;
  width: auto;
  height: auto;
  padding: 0px 0;
  z-index: 999;
  margin: 3.5px 0 0 5px;
}

.submenu:hover .item__submenu {
  display: block;

  padding: 0;
  margin: 0;
  z-index: 999;
}
.main {
  gap: 2rem;
  margin: 0 0 2rem 0;
  align-items: center;
  grid-area: historia;
  display: flex;
  flex-direction: column;
}

.div__h2 {
  color: #073332;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div__content {
  text-align: justify;
  background-color: #b8afa6;
  border-radius: 20px;
  padding: 10px;
  width: 70rem;
  font-weight: 400;
  font-size: 20px;
}

.main__config:hover {
  opacity: 85%;
}

.footer {
  background-color: #073332;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-area: footer;
  display: flex;
}

@media only screen and (max-width: 640px) {
  .div__grid {
    /* grid-template-columns: repeat(3, 1fr); */
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* grid-template-rows: auto auto auto auto; */
    grid-template-areas:
      "header header"
      "nav nav"
      "historia historia"
      "footer footer";
    gap: 1rem;
    /* justify-content: flex-start;
    align-items: center; */
    height: 80%;
    width: 80%;
  }

  .header {
    width: 80%;
    display: flex;
    justify-content: stretch;
    justify-self: stretch;
  }

  .header__div1 {
    width: 30vh;
    justify-content: center;
    padding: 0;
    align-self: center;
  }

  .header__div2 {
    width: 70vw;
    justify-content: center;
    margin: 0;
    align-self: center;
  }

  .header__div2 h1 {
    font-size: 15px;
  }

  .navbar {
    font-size: 10px;
    gap: 1rem;
    justify-content: center;
  }

  .main {
    width: 80%;
    height: 80%;
    justify-self: center;
    gap: none;
  }

  .div__h2 {
    font-size: 12px;
  }

  .div__content {
    text-align: justify;
    background-color: #b8afa6;
    border-radius: 20px;
    padding: 2px;
    width: fit-content;

    font-weight: 400;
    font-size: 10px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 1007px) {
  .div__grid {
    /* grid-template-columns: repeat(3, 1fr); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto auto auto; */
    grid-template-areas:
      "header header"
      "nav nav"
      "historia historia"
      "footer footer";
    gap: 1rem;
    /* justify-content: flex-start;
    align-items: center; */
    width: 100vw;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
  }

  .header__div2 {
    justify-content: center;
    margin: 0;
    align-self: center;
  }

  .header__div2 h1 {
    font-size: 10px;
  }

  .navbar {
    font-size: 10px;
    gap: 1rem;
    justify-content: center;
  }

  .main {
    width: 80%;
    height: 80%;
    justify-self: center;
  }

  .div__h2 {
    font-size: 12px;
  }

  .div__content {
    text-align: justify;
    background-color: #b8afa6;
    border-radius: 20px;
    padding: 2px;
    width: fit-content;
    font-weight: 400;
    font-size: 10px;
  }

  .footer {
    display: block;
  }
}
