* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  /* background-image: url("./img/bg.png"); */
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

.div__grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "historia historia historia historia"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: max-content; */
  gap: 1rem;
  justify-content: stretch;
  align-items: stretch;
}

.header {
  /* background-image: url("./img/header.png"); */
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  grid-area: header;
}

/* .header__div1 {
  width: 20%;
  padding: 0 0 0 4rem;
} */

.header__div2 {
  font-size: 15px;

  text-align: center;
  justify-content: center;
  align-items: center;
  color: #040d26;
}

.nav__span {
  padding: 2px;
}

a {
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
}

.minhaclasse.navbar1 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  font-size: 1.2rem;
  text-decoration: none;
  /* color: #073332; */
  color: #121213;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem 0 0 0;
  /* padding: 50px 0 0 0; */
  grid-area: nav;
}

.minhaclasse.navbar1 a {
  color: #040d26;
}

.navbar__ul {
  text-decoration: none;
  list-style: none;
  font-size: 22px;
}

.navbar__ul--link {
  transition-property: padding, border, background-color, border-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  padding: 10px 0;
  width: 20%;
}

.navbar__ul--link:hover {
  border-radius: 12%;
  width: 20%;
  height: auto;
  padding: 10px 0;
  opacity: 40%;
  z-index: 0;
}

.submenu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -25px;
  align-items: center;
}
.item__submenu {
  display: none;
  position: absolute;
  list-style: none;
  top: 32px;
  margin: 10px 0 0 5px;
}

.item__submenu a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #040d26;
  background-color: #fff;
  cursor: pointer;

  padding: 5px 0 0 0;
}

.navbar__ul--link .submenu {
  padding-left: 10px;
}

.item__submenu a:hover {
  background-color: #f2f2f2;
  border-radius: 8%;
  width: auto;
  height: auto;
  padding: 10px 0;
  z-index: 999;
  margin: 3.5px 0 0 5px;
}

.submenu:hover .item__submenu {
  display: block;

  padding: 0;
  margin: 0;
  z-index: 999;
}
.main {
  gap: 2rem;
  margin: 0 0 2rem 0;
  align-items: center;
  grid-area: historia;
  display: flex;
  flex-direction: column;
}

.div__h2 {
  color: #073332;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div__content {
  text-align: justify;
  background-color: #b8afa6;
  border-radius: 20px;
  padding: 10px;
  width: 70rem;
  font-weight: 400;
  font-size: 20px;
}

.main__config:hover {
  opacity: 85%;
}

.main p {
  padding: 10px;
}

.footer {
  background-color: #073332;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-area: footer;
  display: flex;
}
