* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* KEYFRAMES AREA */

@keyframes header {
  0% {
    height: 100px;
    /* text-align: center; */
    padding: 1rem;
    font-size: 10px;
  }

  50% {
    height: 100px;
    text-align: center;
    font-size: 15px;
    padding: 2rem;
  }

  100% {
    height: 100px;
    /* text-align: center; */
    padding: 1rem;
    font-size: 10px;
  }
}

/* FIM KEYFRAMES AREA */

/* MEDIA QUERY */

@media only screen and (max-width: 950px) {
  .header {
    padding: 10px;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: start;
    align-items: start; */
  }

  .header__h1 {
    width: 200px;
    font-size: 10px;
    padding: 16px;
    margin: 0;
  }

  .navbar {
    display: block; /* Altera a exibição do menu para empilhado */
    margin: 10px 0; /* Adiciona espaçamento entre os itens do menu */
  }

  .aside {
    display: none;
  }

  .main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 350px;
    height: 130px;
  }

  .main__div1 {
    width: 80%;
  }

  .main__div2 {
    width: 80%;
  }

  .main__div3 {
    width: 80%;
  }
}

/* FIM MEDIA QUERY */

body {
  /* background-image: url("./img/bg.png"); */
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.header {
  /* background-image: url("./img/header.png"); */
  background-color: #f2f2f2;
  position: fixed;
  width: 1600px;
  height: 100px;
  z-index: 999;
  /* justify-content: space-evenly; */
  align-items: center;
  display: flex;
  overflow: hidden;
}

.header__div1 {
  width: 20%;
  padding: 0 0 0 4rem;
}

.header__div2 {
  width: 55%;
  font-size: 15px;
  animation: header 5s infinite -0.5s;
  margin-left: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #040d26;
}

/* .header__h1 {
  width: 1600px;
  height: 100px;
  animation-name: header;
  animation-duration: 5s;
  animation-delay: -0.5;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #073332;
  padding: 1rem; }*/

.heade__div1 img {
  width: 200px;
  height: 100px;
}

.nav__span {
  padding: 2px;
}

a {
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 5rem;
  font-size: 1.2rem;
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 50px 0 0 0;
}

.navbar__ul {
  text-decoration: none;
  list-style: none;
}

.navbar__ul--link {
  transition-property: padding, border, background-color, border-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  padding: 10px 0;
  width: 20%;
}

.navbar__ul--link:hover {
  border-radius: 12%;
  width: 100%;
  height: auto;
  padding: 10px 0;
  opacity: 40%;
  z-index: 0;
}

.submenu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -40px;
  align-items: center;
}
.item__submenu {
  display: none;
  position: absolute;
  list-style: none;
  top: 32px;
  margin: 3px 0 0 5px;
}

.item__submenu a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #040d26;
  background-color: #fff;
  cursor: pointer;
  margin: 0px 0 0 5px;
  margin: -6px 0 0 5px;
  padding: 5px 0 0 0;
}

.navbar__ul--link .submenu {
  padding-left: 10px;
}

.item__submenu a:hover {
  background-color: #f2f2f2;
  border-radius: 8%;
  width: auto;
  height: auto;
  padding: 0px 0;
  z-index: 999;
  margin: 3.5px 0 0 5px;
}

.submenu:hover .item__submenu {
  display: block;

  padding: 0;
  margin: 0;
  z-index: 999;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 0 2rem 0;
  align-items: center;
}

.div__h2 {
  color: #073332;
  font-size: 20px;
}

.div__content {
  text-align: justify;
  background-color: #b8afa6;
  border-radius: 20px;
  padding: 10px;
  width: 70rem;
  font-weight: 400;
  font-size: 20px;
}

.main__config:hover {
  opacity: 85%;
}

footer {
  background-color: #073332;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;

  align-items: flex-end;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
}
