@media only screen and (max-width: 480px) {
  h1 {
    font-size: 8px;
  }

  p {
    font-size: 6px;
  }

  #ideia {
    font-size: 6px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 8px;
  }

  p {
    font-size: 6px;
  }

  #ideia {
    font-size: 6px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 8px;
  }

  p {
    font-size: 6px;
  }

  #ideia {
    font-size: 6px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  h1 {
    font-size: 8px;
  }

  p {
    font-size: 6px;
  }
  #ideia {
    font-size: 6px;
  }
}
