* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* KEYFRAMES AREA */

@keyframes header {
  from {
    height: 100px;
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  to {
    height: 100px;
    padding: 0rem;
    font-size: 1em;
  }
}

/* FIM KEYFRAMES AREA */

body {
  background-color: #375e5e;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.header {
  background-color: #398988;
  animation-name: header;
  animation-duration: 5s;
  animation-delay: -0.5;
  position: fixed;
  width: 1600px;
  height: 100px;
  z-index: 1;
  justify-content: end;
}

h1 {
  text-align: center;
  color: #073332;
  padding: 1rem;
}

.nav__span {
  padding: 2px;
}

a {
  text-decoration: none;
  color: #073332;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #073332;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 50px 0 0 0;
}

.navbar__ul {
  text-decoration: none;
  list-style: none;
}

.navbar__ul--link {
  transition-property: padding, border, background-color, border-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  padding: 10px 0;
  width: 20%;
}

.navbar__ul--link:hover {
  border-radius: 12%;
  width: 100%;
  height: auto;
  padding: 10px 0;
  opacity: 40%;
  z-index: 0;
}

.submenu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -30px;
  align-items: center;
}
.item__submenu {
  display: none;
  position: absolute;
  list-style: none;
  top: 32px;
}

.item__submenu a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #d9d9d9;
  background-color: #398988;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 5px 0 0 0;
}

.navbar__ul--link .submenu {
  padding-left: 10px;
}

.item__submenu a:hover {
  background-color: #073332;
  border-radius: 12%;
  width: auto;
  height: auto;
  padding: 0px 0;
  z-index: 999;
}

.submenu:hover .item__submenu {
  display: block;

  padding: 0;
  margin: 0;
  z-index: 999;
}

.aside {
  background-color: #398988;
  width: 15.5rem;
  height: 45rem;
  position: absolute;
  margin: 1.5rem auto auto auto;
  overflow: hidden;
  border-radius: 20px;
}

.aside__img {
  width: 10rem;
  height: auto;
  margin-left: 1rem;
  transition-property: all;
  transition-delay: -5s;
}

.aside__img--imagem {
}

.aside__img--imagem:hover {
  opacity: 50%;
}

.aside__nav {
}

.aside__nav__ul {
  list-style: none;
  color: #073332;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 15rem;
}

.aside__nav__ul--link {
  text-decoration: none;
  color: #073332;
}

.main {
  margin: 20px;
  position: relative;
  width: 90%;
  height: auto;
  left: 7rem;
  overflow: hidden;
}

.main__div1 {
  border: 9px solid #073332;
  border-radius: 15px;
  width: 1230px;
  height: 15em;
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide1 {
  float: left;
  width: 100%;
  animation: alternate slide1 20s infinite;
}

.slide2 {
  float: left;
  width: 100%;
  animation: alternate slide2 20s infinite 6s;
}

.slide3 {
  float: left;
  width: 100%;
  animation: alternate slide3 20s infinite 12s;
}

.slide4 {
  float: left;
  width: 100%;
  animation: alternate slide4 20s infinite 16s;
}

@keyframes slide1 {
  0% {
    margin-left: 0;
  } /* Slide começa do início */
  20% {
    margin-left: 0;
  } /* Slide permanece no início por 20% do tempo total */
  25% {
    margin-left: 0;
  } /* Slide se move para a esquerda (início para o fim) */
  45% {
    margin-left: -100%;
  } /* Slide permanece no fim por 20% do tempo total */
  50% {
    margin-left: -100%;
  } /* Slide se move para a esquerda (fim para o início) */
  70% {
    margin-left: -100%;
  } /* Slide permanece no início por 20% do tempo total */
  75% {
    margin-left: -200%;
  } /* Slide se move para a esquerda (início para o fim) */
  95% {
    margin-left: -200%;
  } /* Slide permanece no fim por 20% do tempo total */
  100% {
    margin-left: -100%;
  } /* Slide volta para o início */
}

@keyframes slide2 {
  0% {
    margin-left: 0;
  } /* Slide começa do início */
  20% {
    margin-left: 0;
  } /* Slide permanece no início por 20% do tempo total */
  25% {
    margin-left: 0;
  } /* Slide se move para a esquerda (início para o fim) */
  45% {
    margin-left: -100%;
  } /* Slide permanece no fim por 20% do tempo total */
  50% {
    margin-left: -200%;
  } /* Slide se move para a esquerda (fim para o início) */
  70% {
    margin-left: -200%;
  } /* Slide permanece no início por 20% do tempo total */
  75% {
    margin-left: -300%;
  } /* Slide se move para a esquerda (início para o fim) */
  95% {
    margin-left: -300%;
  } /* Slide permanece no fim por 20% do tempo total */
  100% {
    margin-left: -100%;
  } /* Slide volta para o início */
}

@keyframes slide3 {
  0% {
    margin-left: 0;
  } /* Slide começa do início */
  20% {
    margin-left: 0;
  } /* Slide permanece no início por 20% do tempo total */
  25% {
    margin-left: 0;
  } /* Slide se move para a esquerda (início para o fim) */
  45% {
    margin-left: -100%;
  } /* Slide permanece no fim por 20% do tempo total */
  50% {
    margin-left: -200%;
  } /* Slide se move para a esquerda (fim para o início) */
  70% {
    margin-left: -200%;
  } /* Slide permanece no início por 20% do tempo total */
  75% {
    margin-left: -300%;
  } /* Slide se move para a esquerda (início para o fim) */
  95% {
    margin-left: -300%;
  } /* Slide permanece no fim por 20% do tempo total */
  100% {
    margin-left: -100%;
  } /* Slide volta para o início */
}

@keyframes slide4 {
  0% {
    margin-left: 0;
  } /* Slide começa do início */
  20% {
    margin-left: 0;
  } /* Slide permanece no início por 20% do tempo total */
  25% {
    margin-left: 0;
  } /* Slide se move para a esquerda (início para o fim) */
  45% {
    margin-left: -100%;
  } /* Slide permanece no fim por 20% do tempo total */
  50% {
    margin-left: -100%;
  } /* Slide se move para a esquerda (fim para o início) */
  70% {
    margin-left: -100%;
  } /* Slide permanece no início por 20% do tempo total */
  75% {
    margin-left: -200%;
  } /* Slide se move para a esquerda (início para o fim) */
  95% {
    margin-left: -200%;
  } /* Slide permanece no fim por 20% do tempo total */
  100% {
    margin-left: -100%;
  } /* Slide volta para o início */
}

.main__div2 {
  border: 9px solid #073332;
  border-radius: 15px;
  display: block;
  width: 1230px;
  height: 15em;
}

.main__div3 {
  border: 9px solid #073332;
  border-radius: 15px;
  display: block;
  width: 1230px;
  height: 15em;
  margin-right: 0;
}

/*
.div_tabela_sidebar {
  margin: 3rem 0 0 0;
  font-weight: 400;


}
*/

/*
.table_sidebar {
  font-size: 7px;
  font-weight: bold;
  
}

*/

/*
.textUm {
  
  margin: 0 2rem 0 14rem;
  text-align: right;
  color: white;
}
*/

/*
.form_duvidas {
  max-width: fit-content;
  position: relative;
  font-size: 15px;
  margin: 3rem 0 2rem 14rem;
  justify-content: flex-end;
}

.span_sexo {
  font-weight: bold;
  
}

*/

footer {
  background-color: #073332;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}
