body {
  background-color: #375e5e;
}

.header {
  background-color: #398988;
  height: 100px;
}

h1 {
  text-align: center;
  color: #073332;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1.1rem;  
}

.nav-bar {
  display: flex;
}

.nav-items {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #073332;
  font-weight: bold;
}

.sidebar {
  background-color: #398988;
  width: 12.5rem;
  height: 45rem;
  position: absolute;
  float: left;
  margin: 1.5rem auto auto auto;
}

.img_sidebar {
  width: 10rem;
  height: auto;
  margin-left: 1rem;
}

.menu_sidebar {
  list-style: none;
  color: #073332;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0.7rem;
}

.table_sidebar {
  font-size: 10px;
  font-weight: bold;
}

.carrossel {
  border: 1px solid black;
  margin: 1.5rem 0 2rem 14rem;
  color: white;
  text-align: justify;
  position: relative;
  float: right;
}

.textUm {
  border: 1px solid black;
  margin-left: 14rem;
  max-width: fit-content;
  max-height: fit-content;
  color: white;
  position: relative;
  float: right;
}

.h2,
.historia {
  text-align: justify;
}

.form_duvidas {
  max-width: fit-content;
  position: relative;
  font-size: 15px;
  margin: 3rem 0 2rem 14rem;
}

.span_sexo {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  display: flex;
  gap: 2rem;
  font-style: oblique;
  font-weight: bold;
  position: relative;
  float: right;
  width: 100%;
}

.rights {
  border: 1px solid black;
  width: 100%;
}

