/*HEADER E SUBMENU - IGUAL PARA TODAS AS PAGES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* KEYFRAMES AREA */

@keyframes header {
  0% {
    height: 100px;
    /* text-align: center; */
    padding: 1rem;
    font-size: 10px;
  }

  50% {
    height: 100px;
    text-align: center;
    font-size: 15px;
    padding: 2rem;
  }

  100% {
    height: 100px;
    /* text-align: center; */
    padding: 1rem;
    font-size: 10px;
  }
}

/* FIM KEYFRAMES AREA */

/* MEDIA QUERY */

@media only screen and (max-width: 950px) {
  .header {
    padding: 10px;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: start;
    align-items: start; */
  }

  .header__h1 {
    width: 200px;
    font-size: 10px;
    padding: 16px;
    margin: 0;
  }

  .navbar {
    display: block; /* Altera a exibição do menu para empilhado */
    margin: 10px 0; /* Adiciona espaçamento entre os itens do menu */
  }

  .aside {
    display: none;
  }

  .main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 350px;
    height: 130px;
  }

  .main__div1 {
    width: 80%;
  }

  .main__div2 {
    width: 80%;
  }

  .main__div3 {
    width: 80%;
  }
}

/* FIM MEDIA QUERY */

body {
  /* background-image: url("./img/bg.png"); */
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.header {
  /* background-image: url("./img/header.png"); */
  background-color: #f2f2f2;
  position: fixed;
  width: 1600px;
  height: 100px;
  z-index: 999;
  /* justify-content: space-evenly; */
  align-items: center;
  display: flex;
  overflow: hidden;
}

.header__div1 {
  width: 20%;
  padding: 0 0 0 4rem;
}

.header__div2 {
  width: 55%;
  font-size: 15px;
  animation: header 5s infinite -0.5s;
  margin-left: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #040d26;
}

/* .header__h1 {
  width: 1600px;
  height: 100px;
  animation-name: header;
  animation-duration: 5s;
  animation-delay: -0.5;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #073332;
  padding: 1rem; }*/

.heade__div1 img {
  width: 200px;
  height: 100px;
}

.nav__span {
  padding: 2px;
}

a {
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 5rem;
  font-size: 1.2rem;
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 50px 0 0 0;
}

.navbar__ul {
  text-decoration: none;
  list-style: none;
}

.navbar__ul--link {
  transition-property: padding, border, background-color, border-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  padding: 10px 0;
  width: 20%;
}

.navbar__ul--link:hover {
  border-radius: 12%;
  width: 100%;
  height: auto;
  padding: 10px 0;
  opacity: 40%;
  z-index: 0;
}

.submenu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -40px;
  align-items: center;
}
.item__submenu {
  display: none;
  position: absolute;
  list-style: none;
  top: 32px;
  margin: 3px 0 0 5px;
}

.item__submenu a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #040d26;
  background-color: #fff;
  cursor: pointer;
  margin: 0px 0 0 5px;
  margin: -6px 0 0 5px;
  padding: 5px 0 0 0;
}

.navbar__ul--link .submenu {
  padding-left: 10px;
}

.item__submenu a:hover {
  background-color: #f2f2f2;
  border-radius: 8%;
  width: auto;
  height: auto;
  padding: 0px 0;
  z-index: 999;
  margin: 3.5px 0 0 5px;
}

.submenu:hover .item__submenu {
  display: block;

  padding: 0;
  margin: 0;
  z-index: 999;
}

/* FIM DO HEADER E SUBMENU - IGUAL PARA TODAS AS PAGES */

.conteudo__geral {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.conteudo__aside {
  align-self: center;
  justify-self: center;
  margin: 32rem 0 0 0;
}

.aside {
  /* background-color: #398988; */
  /* background-color: #040d26; */
  background: radial-gradient(#040945, #040d26);
  width: 14rem;
  height: 48.5rem;
  /* position: relative; */
  margin: 1.5rem;
  overflow: hidden;
  border-radius: 20px;
  opacity: 85%;
}

.aside__img {
  transition-property: all;
  transition-delay: -5s;
}

.aside__img img {
  width: 10.5rem;
  height: auto;
}

.aside__img--imagem:hover {
  opacity: 50%;
}

.section {
  display: flex;
  flex-direction: column;
}

.conteudo__main--principal {
  height: auto;
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: end; */
  justify-content: center;
  flex-wrap: nowrap;
}

.main__flex {
  overflow: hidden;
}

.main__flex:hover {
  opacity: 85%;
}

.main__div1 {
  /* border: 9px solid #073332; */
  border: 9px solid #040d26;
  border-radius: 15px;
  width: 1250px;
  height: 15em;
  height: 15em;
  display: block;
  margin: 1.5rem 1.5rem 0 0;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide1 {
  float: left;
  width: 100%;
  animation: alternate slide1 20s infinite;
}

.slide2 {
  float: left;
  width: 100%;
  animation: alternate slide2 20s infinite 6s;
}

.slide3 {
  float: left;
  width: 100%;
  animation: alternate slide3 20s infinite 12s;
}

.slide4 {
  float: left;
  width: 100%;
  animation: alternate slide4 20s infinite 16s;
}

@keyframes slide1 {
  0% {
    margin-left: 0;
  } /* Slide começa do início */
  20% {
    margin-left: 0;
  } /* Slide permanece no início por 20% do tempo total */
  25% {
    margin-left: 0;
  } /* Slide se move para a esquerda (início para o fim) */
  45% {
    margin-left: -100%;
  } /* Slide permanece no fim por 20% do tempo total */
  50% {
    margin-left: -100%;
  } /* Slide se move para a esquerda (fim para o início) */
  70% {
    margin-left: -100%;
  } /* Slide permanece no início por 20% do tempo total */
  75% {
    margin-left: -200%;
  } /* Slide se move para a esquerda (início para o fim) */
  95% {
    margin-left: -200%;
  } /* Slide permanece no fim por 20% do tempo total */
  100% {
    margin-left: -100%;
  } /* Slide volta para o início */
}

@keyframes slide2 {
  0% {
    margin-left: 0;
  } /* Slide começa do início */
  20% {
    margin-left: 0;
  } /* Slide permanece no início por 20% do tempo total */
  25% {
    margin-left: 0;
  } /* Slide se move para a esquerda (início para o fim) */
  45% {
    margin-left: -100%;
  } /* Slide permanece no fim por 20% do tempo total */
  50% {
    margin-left: -200%;
  } /* Slide se move para a esquerda (fim para o início) */
  70% {
    margin-left: -200%;
  } /* Slide permanece no início por 20% do tempo total */
  75% {
    margin-left: -300%;
  } /* Slide se move para a esquerda (início para o fim) */
  95% {
    margin-left: -300%;
  } /* Slide permanece no fim por 20% do tempo total */
  100% {
    margin-left: -100%;
  } /* Slide volta para o início */
}

@keyframes slide3 {
  0% {
    margin-left: 0;
  } /* Slide começa do início */
  20% {
    margin-left: 0;
  } /* Slide permanece no início por 20% do tempo total */
  25% {
    margin-left: 0;
  } /* Slide se move para a esquerda (início para o fim) */
  45% {
    margin-left: -100%;
  } /* Slide permanece no fim por 20% do tempo total */
  50% {
    margin-left: -200%;
  } /* Slide se move para a esquerda (fim para o início) */
  70% {
    margin-left: -200%;
  } /* Slide permanece no início por 20% do tempo total */
  75% {
    margin-left: -300%;
  } /* Slide se move para a esquerda (início para o fim) */
  95% {
    margin-left: -300%;
  } /* Slide permanece no fim por 20% do tempo total */
  100% {
    margin-left: -100%;
  } /* Slide volta para o início */
}

@keyframes slide4 {
  0% {
    margin-left: 0;
  } /* Slide começa do início */
  20% {
    margin-left: 0;
  } /* Slide permanece no início por 20% do tempo total */
  25% {
    margin-left: 0;
  } /* Slide se move para a esquerda (início para o fim) */
  45% {
    margin-left: -100%;
  } /* Slide permanece no fim por 20% do tempo total */
  50% {
    margin-left: -100%;
  } /* Slide se move para a esquerda (fim para o início) */
  70% {
    margin-left: -100%;
  } /* Slide permanece no início por 20% do tempo total */
  75% {
    margin-left: -200%;
  } /* Slide se move para a esquerda (início para o fim) */
  95% {
    margin-left: -200%;
  } /* Slide permanece no fim por 20% do tempo total */
  100% {
    margin-left: -100%;
  } /* Slide volta para o início */
}

.main__div2 {
  /* border: 9px solid #073332; */
  border: 9px solid #040d26;
  border-radius: 15px;
  display: block;
  width: 1250px;
  height: 15em;
  /* background-color: #b8afa6; */
  background-color: #f2f2f2;
  margin: 1.5rem 1.5rem 0 0;
}

.main__div3 {
  /* border: 9px solid #073332; */
  border: 9px solid #040d26;
  border-radius: 15px;
  display: block;
  width: 1250px;
  height: 15em;
  margin: 1.5rem 1.5rem 0 0;
  /* background-color: #b8afa6; */
  background-color: #f2f2f2;
}

.conteudo__main2 {
  width: 113%;
  margin: 0 0 2rem -17rem;
}

.main2 img {
  width: 110%;

  /* height: 400px; */
}

.main2:hover {
  opacity: 85%;
}
/*
.div_tabela_sidebar {
  margin: 3rem 0 0 0;
  font-weight: 400;


}
*/

/*
.table_sidebar {
  font-size: 7px;
  font-weight: bold;
  
}

*/

/*
.textUm {
  
  margin: 0 2rem 0 14rem;
  text-align: right;
  color: white;
}
*/

/*
.form_duvidas {
  max-width: fit-content;
  position: relative;
  font-size: 15px;
  margin: 3rem 0 2rem 14rem;
  justify-content: flex-end;
}

.span_sexo {
  font-weight: bold;
  
}

*/

footer {
  background-color: #040d26;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
}
