.body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.header {
  /* background-color: #333; */
  color: #fff;
  text-align: center;
  width: 98vw;
  grid-area: header;
}

.header img {
  z-index: -999;
  width: 99vw;
}

.nav {
  position: relative;
  height: 50px;
  background-color: #333333;
  width: 98.9vw;
}

.ul {
  list-style-type: none;
  padding: 0;
  position: fixed;
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e6e6e6;
  width: 90%;
  opacity: 85%;
}

.ul li {
  margin-right: 20px;
  font-size: 15px;
  gap: 2rem;
  height: fit-content;
}

.ul li a {
  text-decoration: none;
  color: #e6e6e6;
  font-weight: bold;
}

.mainmenubtn {
  background-color: #333333;
  color: #e6e6e6;
  border: none;
  cursor: pointer;
  max-width: 50px;
  font-weight: bold;
  width: 20px;
  display: inline-block;
}
.mainmenubtn:hover {
  opacity: 80%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  width: 20px;
  position: absolute;
  background-color: #333;
}
.dropdown-child a {
  color: #e6e6e6;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
  width: max-content;
}

.dropdown-child a:hover {
  opacity: 80%;
}

section {
  /* padding: 50px 20px; */
  text-align: center;
}

.grid {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "ideia ideia ideia"
    "equipe equipe equipe"
    "contato contato contato"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

.container-fluid1 {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#banner {
  background-color: #f2f2f2;
  grid-area: banner;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: start;
  background-color: #333333;
  grid-area: main;
  height: 600px;
  padding: 3rem;
  width: 99vw;
}

.text-jur {
  text-align: justify;
  width: 200px;
  color: #e6e6e6;
}

.config-set {
  text-align: center;
}

.config-set h2 {
  color: #e6e6e6;
}

.servicos__ul {
  list-style-type: none;
  padding: 0;
  top: 0;
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  gap: 2rem;
}

.servicos__ul li {
  background-color: #e6e6e6;
  color: #333;
  padding: 10px;
  border-radius: 40px 10px;
}

.servicos__ul li:hover {
  opacity: 80%;
  cursor: grab;
}

.ideia {
  grid-area: ideia;
  background-image: url("./img/bgdiv.png");
  height: 600px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 99vw;
}

.ideia-div1 {
  width: 20vw;
  background-color: #e6e6e6;
  border-radius: 20px 50px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
}

.ideia-div1 p {
  text-align: justify;
}

.ideia-div2 {
  width: 20vw;
  background-color: #e6e6e6;
  border-radius: 20px 50px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
}

.ideia-div2 p {
  text-align: justify;
}

.ideia-div1:hover {
  opacity: 80%;
}

.ideia-div2:hover {
  opacity: 80%;
}

/* #ideia img {
  width: 100vw;
  opacity: 80%;
} */

#equipe {
  background-color: #f2f2f2;
  grid-area: equipe;
  height: 60em;
  width: 99vw;
}

#equipe h2 {
  margin: 2rem;
}

.color-txt {
  color: #333333;
}

#contato {
  background-color: #e6e6e6;
  grid-area: contato;
  height: 500px;
  background-image: url("./img/form.png");
  width: 99vw;
  position: relative;
}

.form {
  background-color: #e6e6e6;
  position: absolute;
  border-radius: 45px;
  padding: 20px;
  right: 0;
  opacity: 85%;
  margin: 2rem;
}

.form:hover {
  opacity: 90%;
}

.footer {
  grid-area: footer;
  width: 100vw;
}

.perfil {
  display: inline-block;
  margin: 0 20px;
}

.perfil img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 99vw;
}

/* INCIO DOS MEDIA QUERY */

@media (max-width: 480px) {
  .grid {
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "main main main"
      "equipe equipe equipe"
      "contato contato contato"
      "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
  }

  .nav {
    width: 99vw;
  }
  .ul {
    width: 99vw;
  }

  #main {
    grid-area: main;
    display: inline-block;
    justify-content: center;
    padding: 0;
  }

  #main .perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .perfil .text-jur {
    text-align: justify;
    text-wrap: wrap;
  }

  .idea {
    display: none;
  }

  #equipe {
    max-width: 480px;
    height: max-content;
  }
  #equipe .perfil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
  }

  #equipe .perfil img {
    width: 100px;
    height: 100px;
  }

  #contato {
    grid-area: contato;
    max-width: 480px;
  }

  #contato .form {
    margin: 1rem;
    top: 5rem;
    position: sticky;
  }

  .footer {
    grid-area: footer;
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "main main main"
      "equipe equipe equipe"
      "contato contato contato"
      "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: max-content;
  }

  .nav {
    width: 99vw;
  }
  .ul {
    width: 99vw;
  }

  .ideia {
    display: none;
  }

  #main {
    grid-area: main;
    display: inline-block;
    justify-content: center;
    padding: 0;
    max-width: 480px;
  }

  .perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .perfil .text-jur {
    text-align: justify;
    text-wrap: wrap;
  }

  #equipe {
    max-width: 640px;
    height: max-content;
  }

  #equipe .perfil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
  }

  #equipe .perfil img {
    width: 100px;
    height: 100px;
  }

  #contato {
    grid-area: contato;
    max-width: 640px;
    height: max-content;
  }

  #contato .form {
    margin: 1rem;
    top: 5rem;
    position: sticky;
  }

  .footer {
    grid-area: footer;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .grid {
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "main main main"
      "equipe equipe equipe"
      "contato contato contato"
      "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
  }

  .nav {
    width: 99vw;
  }
  .ul {
    width: 99vw;
  }

  #main {
    grid-area: main;
    display: inline-block;
    padding: 0;
    max-width: 768px;
  }

  .perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #equipe {
    max-width: 768px;
    height: max-content;
  }

  #equipe .perfil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
  }

  #equipe .perfil img {
    width: 100px;
    height: 100px;
  }

  #contato {
    grid-area: contato;
    max-width: 768px;
    height: max-content;
  }

  #contato .form {
    margin: 1rem;
    top: 5rem;
    position: sticky;
  }

  .footer {
    grid-area: footer;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .grid {
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "main main main"
      "equipe equipe equipe"
      "contato contato contato"
      "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
  }

  .nav {
    width: 99vw;
  }
  .ul {
    width: 99vw;
  }

  #main {
    grid-area: main;
    display: inline-block;
    padding: 2rem;
    max-width: 1024px;
    height: max-content;
  }

  .perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #equipe {
    max-width: 1024px;
    height: max-content;
  }

  #equipe .perfil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
  }

  #equipe .perfil img {
    width: 100px;
    height: 100px;
  }

  #contato {
    grid-area: contato;
    max-width: 1024px;
    height: max-content;
  }

  #contato .form {
    margin: 1rem;
    top: 5rem;
    position: sticky;
  }

  .footer {
    grid-area: footer;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .grid {
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "main main main"
      "equipe equipe equipe"
      "contato contato contato"
      "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
  }

  .nav {
    width: 99vw;
  }
  .ul {
    width: 99vw;
  }

  #main {
    grid-area: main;
    display: inline-block;
    padding: 2rem;
    min-width: 1025px;
    height: max-content;
  }

  .perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #equipe {
    min-width: 1025px;
    height: max-content;
  }

  #equipe .perfil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
  }

  #equipe .perfil img {
    width: 100px;
    height: 100px;
  }

  #contato {
    grid-area: contato;
    min-width: 1025px;
    height: max-content;
  }

  #contato .form {
    margin: 1rem;
    top: 5rem;
    position: sticky;
  }

  .footer {
    grid-area: footer;
  }
}
