.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* background-color: #333; */
  color: #fff;
  text-align: center;
  grid-area: header;
  width: 100vw;
}

.header img {
  width: 100vw;
  z-index: -999;
}

.nav {
  position: relative;
  height: 50px;
  background-color: #333333;
  width: 100vw;
}

.ul {
  list-style-type: none;
  padding: 0;
  position: fixed;
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #e6e6e6;
  width: 100vw;
  opacity: 85%;
}

.ul li {
  margin-right: 20px;
  font-size: 15px;
  gap: 2rem;
  height: fit-content;
}

.ul li a {
  text-decoration: none;
  color: #e6e6e6;
  font-weight: bold;
}


.mainmenubtn {
  background-color: #333333;
  color: #e6e6e6;
  border: none;
  cursor: pointer;
  max-width: 50px;
  font-weight: bold;
  width: 20px;
  display: inline-block;

  font-weight: bold;
}
.mainmenubtn:hover {
  opacity: 80%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  width: 20px;
  position: absolute;
  background-color: #333;
}
.dropdown-child a {
  color: #e6e6e6;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
  width: max-content;
}

.dropdown-child a:hover {
  opacity: 80%;
}


section {
  /* padding: 50px 20px; */
  text-align: center;
}

.grid {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

.main {
  grid-area: main;
}

#main h2 {
  color:#f8c13c;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: start;
  background-color: #333333;
  grid-area: main;
  height: 700px;
  padding: 3rem;
  width: 100vw;
  color:#fff;
}

  

.perfil {
  display: inline-block;
  margin: 0 20px;
}

.perfil img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

footer {
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
  grid-area: footer;
  width: 100vw;
}
