* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* KEYFRAMES AREA */

@keyframes header {
  from {
    height: 100px;
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  to {
    height: 100px;
    padding: 0rem;
    font-size: 1em;
  }
}

/* FIM KEYFRAMES AREA */

body {
  background-image: url("../../img/bg.png");
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.header {
  background-color: #398988;
  animation-name: header;
  animation-duration: 5s;
  animation-delay: -0.5;
  position: fixed;
  width: 1600px;
  height: 100px;
  z-index: 1;
  justify-content: end;
}

h1 {
  text-align: center;
  color: #073332;
  padding: 1rem;
}

.nav__span {
  padding: 2px;
}

a {
  text-decoration: none;
  color: #073332;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #073332;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 50px 0 0 0;
}

.navbar__ul {
  text-decoration: none;
  list-style: none;
}

.navbar__ul--link {
  transition-property: padding, border, background-color, border-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  padding: 10px 0;
  width: 20%;
}

.navbar__ul--link:hover {
  border-radius: 12%;
  width: 100%;
  height: auto;
  padding: 10px 0;
  opacity: 40%;
  z-index: 0;
}

.submenu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -30px;
  align-items: center;
}
.item__submenu {
  display: none;
  position: absolute;
  list-style: none;
  top: 32px;
}

.item__submenu a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #d9d9d9;
  background-color: #398988;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 5px 0 0 0;
}

.navbar__ul--link .submenu {
  padding-left: 10px;
}

.item__submenu a:hover {
  background-color: #073332;
  border-radius: 12%;
  width: auto;
  height: auto;
  padding: 0px 0;
  z-index: 999;
}

.submenu:hover .item__submenu {
  display: block;

  padding: 0;
  margin: 0;
  z-index: 999;
}

.main__principal {
  display: flex;
  width: 100%;
  height: auto;
}

.main__conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 0 4rem;
  height: 800px;
}

.main__filho {
  width: 700px;
  font-weight: 600;
  text-align: justify;
  background-color: #b8afa6;
  border-radius: 30px;
  padding: 10px;
  margin: 0 0 0 5px;
}

.main__filho:hover {
  opacity: 85%;
}

.main__filho1 {
}

.main__filho1 h2 {
  color: #073332;
}

.main__filho2 {
}

.main__filho2 h2 {
  color: #073332;
}

.main__filho3 {
}

.main__filho3 h2 {
  color: #073332;
}

.main__img {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.main__img img {
  width: 250px;
  height: 250px;
  border-radius: 40px 50px;
}

.main__img img:hover {
  opacity: 85%;
}

footer {
  background-color: #073332;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}
