* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  /* background-image: url("./img/bg.png"); */
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.div__grid {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "section section section section"
    "main main main main"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: max-content; */
  gap: 1rem;
  justify-content: stretch;
  align-items: stretch;
}

.header {
  /* background-image: url("./img/header.png"); */
  background-color: #f2f2f2;

  justify-content: space-evenly;
  align-items: center;
  display: flex;
  grid-area: header;
}

/* .header__div1 {
  width: 20%;
  padding: 0 0 0 4rem;
} */

.header__div2 {
  font-size: 15px;

  text-align: center;
  justify-content: center;
  align-items: center;
  color: #040d26;
}

.nav__span {
  padding: 2px;
}

a {
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  font-size: 1.2rem;
  text-decoration: none;
  /* color: #073332; */
  color: #040d26;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 2px;
  /* padding: 50px 0 0 0; */
  grid-area: nav;
}

.navbar__ul {
  text-decoration: none;
  list-style: none;
  /* justify-content: center;
  align-items: center;
 */
}

.navbar__ul--link {
  transition-property: padding, border, background-color, border-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  padding: 10px 0;
  width: 20%;
}

.navbar__ul--link:hover {
  border-radius: 12%;
  width: 20%;
  height: auto;
  padding: 10px 0;
  opacity: 40%;
  z-index: 0;
}

.submenu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -40px;
  align-items: center;
}
.item__submenu {
  display: none;
  position: absolute;
  list-style: none;
  top: 32px;
  margin: 3px 0 0 5px;
}

.item__submenu a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #040d26;
  background-color: #fff;
  cursor: pointer;
  margin: 0px 0 0 5px;
  margin: -6px 0 0 5px;
  padding: 5px 0 0 0;
}

.navbar__ul--link .submenu {
  padding-left: 10px;
}

.item__submenu a:hover {
  background-color: #f2f2f2;
  border-radius: 8%;
  width: auto;
  height: auto;
  padding: 0px 0;
  z-index: 999;
  margin: 3.5px 0 0 5px;
}

.submenu:hover .item__submenu {
  display: block;

  padding: 0;
  margin: 0;
  z-index: 999;
}

.header_h1 {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list {
  grid-area: section;
}

.lista {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  font-weight: bold;
}

.lista a {
  color: #040d26;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 5rem 0 0 1rem;
  grid-area: main;
}

.main div {
  width: 500px;
  height: auto;
}

.footer {
  background-color: #073332;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-area: footer;
  display: flex;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
